<?xml version="1.0"?>
<config>
	<modules>
		<Diglin_Mor>
			<version>0.1.0</version>
		</Diglin_Mor>
	</modules>
	
	<frontend>
		<routers>
			<mor>
				<use>standard</use>
				<args>
					<module>Diglin_Mor</module>
					<frontName>mor</frontName>
				</args>
			</mor>
		</routers>
		<layout>
			<updates>
				<mor>
					<file>mor.xml</file>
				</mor>
			</updates>
		</layout>
	</frontend>
	
	<admin>
		<routers>
			<mor>
				<use>admin</use>
				<args>
					<module>Diglin_Mor</module>
					<frontName>mor</frontName>
				</args>
			</mor>
		</routers>
	</admin>

	<global>
		<models>
			<mor>
				<class>Diglin_Mor_Model</class>
				<resourceModel>mor_mysql4</resourceModel>
			</mor>
			<mor_mysql4>
				<class>Diglin_Mor_Model_Mysql4</class>
				<entities>
					<mor>
						<table>mor</table>
					</mor>
				</entities>
			</mor_mysql4>
		</models>
		<resources>
			<mor_setup>
				<setup>
					<module>Diglin_Mor</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
			</mor_setup>
		</resources>
		<blocks>
			<mor>
				<class>Diglin_Mor_Block</class>
			</mor>
		</blocks>
		<helpers>
			<mor>
				<class>Diglin_Mor_Helper</class>
			</mor>
		</helpers>
		<events>
			<customer_save_after>
				<observers>
					<mor_observer>
						<class>mor/mor</class>
						<method>saveMorCustomer</method>
					</mor_observer>
				</observers>
			</customer_save_after>
			
			<customer_login>
				<observers>
					<mor_observer>
						<class>mor/mor</class>
						<method>onLoginToMor</method>
					</mor_observer>
				</observers>			
			</customer_login>

			<customer_logout>
				<observers>
					<mor_observer>
						<class>mor/mor</class>
						<method>onLogoutToMor</method>
					</mor_observer>
				</observers>			
			</customer_logout>
			
			<sales_order_save_commit_after>
				<observers>
					<mor_observer>
						<class>mor/mor</class>
						<method>onSalesChargeMorAccount</method>
					</mor_observer>
				</observers>
			</sales_order_save_commit_after>
		</events>
	</global>
</config>